<h1>Créer groupe</h1>
<input type="text" id="groupName" name="groupName" class="form-control" ng-model="vm.groupName" placeholder="Group Name" required autofocus>
<h3>Sélectionner usagers</h3>
<div class="list-group">
  <a ng-repeat="user in vm.users">
    <div class="list-group-item" style="background-color:lightblue;" ng-if="user.selected" ng-click="user.selected = false">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </div>
    <div class="list-group-item" ng-if="!(user.selected)" ng-click="user.selected = true">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </div>
  </a>
</div>
<button type="submit" class="btn btn-primary" ng-click="vm.createGroup()">Créer</button>
