<h1>{{vm.group.name}}</h1>

<h3>Membres</h3>
<div class="list-group">
  <div ng-repeat="user in vm.users" class="list-group-item">
    <button style="float:right" ng-if="user.balance > 0" class="btn btn-primary" ng-click="vm.refund(user)">Rembourser</button>
    <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
    <div ng-if="user.balance > 0">
      Vous devez {{user.balance | number: 2}} $
    </div>
    <div ng-if="user.balance === 0">Vous ne devez rien</div>
    <div ng-if="user.balance < 0">Il vous doit {{user.balance * -1 | number: 2}} $</div>
  </div>
</div>
<hr style="border-width:2px; border-color:#888888"/>
<h3>Ajouter une nouvelle dépense</h3>
Nom de la dépense :
<input type="text" id="expenseName" name="expenseName" class="form-control" ng-model="vm.newExpenseName" placeholder="Une dépense" required autofocus>
Montant :
<input placeholder="100.00" type="number" id="expenseAmount" name="expenseAmount" class="form-control" ng-model="vm.newExpenseAmount" required autofocus>
Payé par:
<select class="form-control" ng-model="vm.expenseUser" ng-options="user.username for user in vm.selectableUsers"></select>
<button style="margin-top:10px" type="submit" class="btn btn-primary" ng-click="vm.createExpense()">Ajouter</button>
<h3>Dépenses et remboursements</h3>
<div class="list-group">
  <div ng-repeat="transaction in vm.transactions" class="list-group-item">
    <div class="media">
      <h2 class="label label-default pull-right">+ ${{ transaction.amount }}</h2>
      <div class="media-body">
        <h4 class="media-heading">{{ transaction.name }}</h4>
        <p>Payé par {{ transaction.user.username }}</p>
      </div>
    </div>
  </div>
</div>
