<section class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">Prénom</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="Prénom" required autofocus>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Le prénom est requis.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Nom</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="Nom" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Le nom est requis.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Courriel</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Courriel" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">L'adresse courriel est requise.</p>
            <p class="help-block error-text" ng-message="email">L'adresse courriel est invalide.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Nom d'utilisateur</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.user.username" placeholder="Nom d'utilisateur" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Le nom d'utilisateur est requis.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Enregistrer le profil</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
